<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZeroDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F36A0451C5615B80029CF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F36A0591C5615B80029CF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F36A0641C5615B80029CF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
