<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>13Day.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F0785F71C59C2100026BB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F07860B1C59C2110026BB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F0786161C59C2110026BB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
